@import "./variables.css";

.black {
    color: var(--black);
}

.bg-transparent {
    background-color: transparent;
}

.bg-black {
    background-color: var(--black);
}

.gray-dark-4 {
    color: var(--gray-dark-4);
}

.bg-gray-dark-4 {
    background-color: var(--gray-dark-4);
}

.gray-dark-3 {
    color: var(--gray-dark-3);
}

.bg-gray-dark-3 {
    background-color: var(--gray-dark-3);
}

.gray-dark-2 {
    color: var(--gray-dark-2);
}

.bg-gray-dark-2 {
    background-color: var(--gray-dark-2);
}

.gray-dark-1 {
    color: var(--gray-dark-1);
}

.bg-gray-dark-1 {
    background-color: var(--gray-dark-1);
}

.gray-base {
    color: var(--gray-base);
}

.bg-gray-base {
    background-color: var(--gray-base);
}

.gray-light-1 {
    color: var(--gray-light-1);
}

.bg-gray-light-1 {
    background-color: var(--gray-light-1);
}

.gray-light-2 {
    color: var(--gray-light-2);
}

.bg-gray-light-2 {
    background-color: var(--gray-light-2);
}

.gray-light-3 {
    color: var(--gray-light-3);
}

.bg-gray-light-3 {
    background-color: var(--gray-light-3);
}

.gray-light-4 {
    color: var(--gray-light-4);
}

.bg-gray-light-4 {
    background-color: var(--gray-light-4);
}

.primary-darker {
    color: var(--primary-darker);
}

.bg-primary-darker {
    background-color: var(--primary-darker);
}

.primary-dark {
    color: var(--primary-dark);
}

.bg-primary-dark {
    background-color: var(--primary-dark);
}

.primary-base {
    color: var(--primary-base);
}

.bg-primary-base {
    background-color: var(--primary-base);
}

.primary-light {
    color: var(--primary-light);
}

.bg-primary-light {
    background-color: var(--primary-light);
}

.primary-lighter {
    color: var(--primary-lighter);
}

.bg-primary-lighter {
    background-color: var(--primary-lighter);
}

.people-darker {
    color: var(--people-darker);
}

.bg-people-darker {
    background-color: var(--people-darker);
}

.people-dark {
    color: var(--people-dark);
}

.bg-people-dark {
    background-color: var(--people-dark);
}

.people-base {
    color: var(--people-base);
}

.bg-people-base {
    background-color: var(--people-base);
}

.people-light {
    color: var(--people-light);
}

.bg-people-light {
    background-color: var(--people-light);
}

.people-lighter {
    color: var(--people-lighter);
}

.bg-people-lighter {
    background-color: var(--people-lighter);
}

.meetings-darker {
    color: var(--meetings-darker);
}

.bg-meetings-darker {
    background-color: var(--meetings-darker);
}

.meetings-dark {
    color: var(--meetings-dark);
}

.bg-meetings-dark {
    background-color: var(--meetings-dark);
}

.meetings-base {
    color: var(--meetings-base);
}

.bg-meetings-base {
    background-color: var(--meetings-base);
}

.meetings-light {
    color: var(--meetings-light);
}

.bg-meetings-light {
    background-color: var(--meetings-light);
}

.meetings-lighter {
    color: var(--meetings-lighter);
}

.bg-meetings-lighter {
    background-color: var(--meetings-lighter);
}

.negative-darker {
    color: var(--negative-darker);
}

.bg-negative-darker {
    background-color: var(--negative-darker);
}

.negative-dark {
    color: var(--negative-dark);
}

.bg-negative-dark {
    background-color: var(--negative-dark);
}

.negative-base {
    color: var(--negative-base);
}

.bg-negative-base {
    background-color: var(--negative-base);
}

.negative-light {
    color: var(--negative-light);
}

.bg-negative-light {
    background-color: var(--negative-light);
}

.negative-lighter {
    color: var(--negative-lighter);
}

.bg-negative-lighter {
    background-color: var(--negative-lighter);
}

.cta-darker {
    color: var(--cta-darker);
}

.bg-cta-darker {
    background-color: var(--cta-darker);
}

.cta-dark {
    color: var(--cta-dark);
}

.bg-cta-dark {
    background-color: var(--cta-dark);
}

.cta-base {
    color: var(--cta-base);
}

.bg-cta-base {
    background-color: var(--cta-base);
}

.cta-light {
    color: var(--cta-light);
}

.bg-cta-light {
    background-color: var(--cta-light);
}

.cta-lighter {
    color: var(--cta-lighter);
}

.bg-cta-lighter {
    background-color: var(--cta-lighter);
}

.attention-darker {
    color: var(--attention-darker);
}

.bg-attention-darker {
    background-color: var(--attention-darker);
}

.attention-dark {
    color: var(--attention-dark);
}

.bg-attention-dark {
    background-color: var(--attention-dark);
}

.attention-base {
    color: var(--attention-base);
}

.bg-attention-base {
    background-color: var(--attention-base);
}

.attention-light {
    color: var(--attention-light);
}

.bg-attention-light {
    background-color: var(--attention-light);
}

.attention-lighter {
    color: var(--attention-lighter);
}

.bg-attention-lighter {
    background-color: var(--attention-lighter);
}

.alerts-darker {
    color: var(--alerts-darker);
}

.bg-alerts-darker {
    background-color: var(--alerts-darker);
}

.alerts-dark {
    color: var(--alerts-dark);
}

.bg-alerts-dark {
    background-color: var(--alerts-dark);
}

.alerts-base {
    color: var(--alerts-base);
}

.bg-alerts-base {
    background-color: var(--alerts-base);
}

.alerts-light {
    color: var(--alerts-light);
}

.bg-alerts-light {
    background-color: var(--alerts-light);
}

.alerts-lighter {
    color: var(--alerts-lighter);
}

.bg-alerts-lighter {
    background-color: var(--alerts-lighter);
}

.eggplant-base {
    color: var(--eggplant-base);
}

.bg-eggplant-base {
    background-color: var(--eggplant-base);
}

.people {
    color: var(--people);
}

.bg-people {
    background-color: var(--people);
}

.meetings {
    color: var(--meetings);
}

.bg-meetings {
    background-color: var(--meetings);
}

.eggplant {
    color: var(--eggplant);
}

.bg-eggplant {
    background-color: var(--eggplant);
}

.negative {
    color: var(--negative);
}

.bg-negative {
    background-color: var(--negative);
}

.cta {
    color: var(--cta);
}

.bg-cta {
    background-color: var(--cta);
}

.attention {
    color: var(--attention);
}

.bg-attention {
    background-color: var(--attention);
}

.alerts {
    color: var(--alerts);
}

.bg-alerts {
    background-color: var(--attention);
}

.primary-color {
    color: var(--primary-color);
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.alerts-color {
    color: var(--alerts-color);
}

.bg-alert-color {
    background-color: var(--alert-color);
}

.cta-color {
    color: var(--cta-color);
}

.bg-cta-color {
    background-color: var(--cta-color);
}

.success-color {
    color: var(--success-color);
}

.bg-success-color {
    background-color: var(--success-color);
}

.attention-color {
    color: var(--attention-color);
}

.bg-attention-color {
    background-color: var(--attention-color);
}

.warning-color {
    color: var(--warning-color);
}

.bg-warning-color {
    background-color: var(--warning-color);
}

.people-color {
    color: var(--people-color);
}

.bg-people-color {
    background-color: var(--people-color);
}

.info-color {
    color: var(--info-color);
}

.bg-info-color {
    background-color: var(--info-color);
}

.brand-white {
    color: var(--brand-white);
}

.bg-brand-white {
    background-color: var(--brand-white);
}

.brand-primary {
    color: var(--brand-primary);
}

.bg-brand-primary {
    background-color: var(--brand-primary);
}

.brand-primary-light {
    color: var(--brand-primary-light);
}

.bg-brand-primary-light {
    background-color: var(--brand-primary-light);
}

.brand-primary-dark {
    color: var(--brand-primary-dark);
}

.bg-brand-primary-dark {
    background-color: var(--brand-primary-dark);
}

.brand-primary-darker {
    color: var(--brand-primary-darker);
}

.bg-brand-primary-darker {
    background-color: var(--brand-primary-darker);
}

.brand-success {
    color: var(--brand-success);
}

.bg-brand-success {
    background-color: var(--brand-success);
}

.brand-success-light {
    color: var(--brand-success-light);
}

.bg-brand-success-light {
    background-color: var(--brand-success-light);
}

.brand-success-dark {
    color: var(--brand-success-dark);
}

.bg-brand-success-dark {
    background-color: var(--brand-success-dark);
}

.brand-success-darker {
    color: var(--brand-success-darker);
}

.bg-brand-success-darker {
    background-color: var(--brand-success-darker);
}

.brand-info {
    color: var(--brand-info);
}

.bg-brand-info {
    background-color: var(--brand-info);
}

.brand-info-light {
    color: var(--brand-info-light);
}

.bg-brand-info-light {
    background-color: var(--brand-info-light);
}

.brand-info-dark {
    color: var(--brand-info-dark);
}

.bg-brand-info-dark {
    background-color: var(--brand-info-dark);
}

.meetings-color {
    color: var(--meetings-color);
}

.bg-meetings-color {
    background-color: var(--meetings-color);
}

.negative-color {
    color: var(--negative-color);
}

.bg-negative-color {
    background-color: var(--negative-color);
}

.gray-darkest {
    color: var(--gray-darkest);
}

.bg-gray-darkest {
    background-color: var(--gray-darkest);
}

.gray-darker {
    color: var(--gray-darker);
}

.bg-gray-darker {
    background-color: var(--gray-darker);
}

.gray-dark {
    color: var(--gray-dark);
}

.bg-gray-dark {
    background-color: var(--gray-dark);
}

.gray-light {
    color: var(--gray-light);
}

.bg-gray-light {
    background-color: var(--gray-light);
}

.gray-lighter {
    color: var(--gray-lighter);
}

.bg-gray-lighter {
    background-color: var(--gray-lighter);
}

.gray-lightest {
    color: var(--gray-lightest);
}

.bg-gray-lightest {
    background-color: var(--gray-lightest);
}

.brand-info-darker {
    color: var(--brand-info-darker);
}

.bg-brand-info-darker {
    background-color: var(--brand-info-darker);
}

.brand-warning {
    color: var(--brand-warning);
}

.bg-brand-warning {
    background-color: var(--brand-warning);
}

.brand-warning-light {
    color: var(--brand-warning-light);
}

.bg-brand-warning-light {
    background-color: var(--brand-warning-light);
}

.brand-warning-dark {
    color: var(--brand-warning-dark);
}

.bg-brand-warning-dark {
    background-color: var(--brand-warning-dark);
}

.brand-warning-darker {
    color: var(--brand-warning-darker);
}

.bg-brand-warning-darker {
    background-color: var(--brand-warning-darker);
}

.brand-danger {
    color: var(--brand-danger);
}

.bg-brand-danger {
    background-color: var(--brand-danger);
}

.brand-danger-light {
    color: var(--brand-danger-light);
}

.bg-brand-danger-light {
    background-color: var(--brand-danger-light);
}

.brand-danger-dark {
    color: var(--brand-danger-dark);
}

.bg-brand-danger-dark {
    background-color: var(--brand-danger-dark);
}

.brand-danger-darker {
    color: var(--brand-danger-darker);
}

.bg-brand-danger-darker {
    background-color: var(--brand-danger-darker);
}

/* Foreground and Background  colors  */

.white {
    color: var(--white);
}

.gray {
    color: var(--gray);
}

.bg-gray {
    background-color: var(--gray);
}

.primary {
    color: var(--primary);
}

.bg-primary {
    background-color: var(--primary);
}

.info {
    color: var(--info-base);
}

.bg-info {
    background-color: var(--info-base);
}

.success {
    color: var(--success-base);
}

.bg-success {
    background-color: var(--success-base);
}

.warning {
    color: var(--warning-base);
}

.bg-warning {
    background-color: var(--warning-base);
}

.danger {
    color: var(--danger-base);
}

.bg-danger {
    background-color: var(--danger-base);
}

.bg-white {
    background-color: var(--white);
}

.blue-light {
    color: var(--blue-light);
}

.bg-blue-light {
    background-color: var(--blue-light);
}

.blue-base {
    color: var(--blue-base);
}

.bg-blue-base {
    background-color: var(--blue-base);
}

.blue {
    color: var(--blue-base);
}

.bg-blue {
    background-color: var(--blue-base);
}

.blue-dark {
    color: var(--blue-dark);
}

.bg-blue-dark {
    background-color: var(--blue-dark);
}

.blue-darker {
    color: var(--blue-darker);
}

.bg-blue-darker {
    background-color: var(--blue-darker);
}

.mint-light {
    color: var(--mint-light);
}

.bg-mint-light {
    background-color: var(--mint-light);
}

.mint-base {
    color: var(--mint-base);
}

.bg-mint-base {
    background-color: var(--mint-base);
}

.mint {
    color: var(--mint-base);
}

.bg-mint {
    background-color: var(--mint-base);
}

.mint-dark {
    color: var(--mint-dark);
}

.bg-mint-dark {
    background-color: var(--mint-dark);
}

.mint-darker {
    color: var(--mint-darker);
}

.bg-mint-darker {
    background-color: var(--mint-darker);
}

.orange-light {
    color: var(--orange-light);
}

.bg-orange-light {
    background-color: var(--orange-light);
}

.orange-base {
    color: var(--orange-base);
}

.bg-orange-base {
    background-color: var(--orange-base);
}

.orange {
    color: var(--orange-base);
}

.bg-orange {
    background-color: var(--orange-base);
}

.orange-dark {
    color: var(--orange-dark);
}

.bg-orange-dark {
    background-color: var(--orange-dark);
}

.orange-darker {
    color: var(--orange-darker);
}

.bg-orange-darker {
    background-color: var(--orange-darker);
}

.green-light {
    color: var(--green-light);
}

.bg-green-light {
    background-color: var(--green-light);
}

.green-base {
    color: var(--green-base);
}

.bg-green-base {
    background-color: var(--green-base);
}

.green {
    color: var(--green-base);
}

.bg-green {
    background-color: var(--green-base);
}

.green-dark {
    color: var(--green-dark);
}

.bg-green-dark {
    background-color: var(--green-dark);
}

.green-darker {
    color: var(--green-darker);
}

.bg-green-darker {
    background-color: var(--green-darker);
}

.red-light {
    color: var(--red-light);
}

.bg-red-light {
    background-color: var(--red-light);
}

.red-base {
    color: var(--red-base);
}

.bg-red-base {
    background-color: var(--red-base);
}

.red {
    color: var(--red-base);
}

.bg-red {
    background-color: var(--red-base);
}

.red-dark {
    color: var(--red-dark);
}

.bg-red-dark {
    background-color: var(--red-dark);
}

.red-darker {
    color: var(--red-darker);
}

.bg-red-darker {
    background-color: var(--red-darker);
}

.yellow-light {
    color: var(--yellow-light);
}

.bg-yellow-light {
    background-color: var(--yellow-light);
}

.yellow-base {
    color: var(--yellow-base);
}

.bg-yellow-base {
    background-color: var(--yellow-base);
}

.yellow {
    color: var(--yellow-base);
}

.bg-yellow {
    background-color: var(--yellow-base);
}

.yellow-dark {
    color: var(--yellow-dark);
}

.bg-yellow-dark {
    background-color: var(--yellow-dark);
}

.yellow-darker {
    color: var(--yellow-darker);
}

.bg-yellow-darker {
    background-color: var(--yellow-darker);
}

.pink-light {
    color: var(--pink-light);
}

.bg-pink-light {
    background-color: var(--pink-light);
}

.pink-base {
    color: var(--pink-base);
}

.bg-pink-base {
    background-color: var(--pink-base);
}

.pink {
    color: var(--pink-base);
}

.bg-pink {
    background-color: var(--pink-base);
}

.pink-dark {
    color: var(--pink-dark);
}

.bg-pink-dark {
    background-color: var(--pink-dark);
}

.pink-darker {
    color: var(--pink-darker);
}

.bg-pink-darker {
    background-color: var(--pink-darker);
}

.purple-light {
    color: var(--purple-light);
}

.bg-purple-light {
    background-color: var(--purple-light);
}

.purple-base {
    color: var(--purple-base);
}

.bg-purple-base {
    background-color: var(--purple-base);
}

.purple {
    color: var(--purple-base);
}

.bg-purple {
    background-color: var(--purple-base);
}

.purple-dark {
    color: var(--purple-dark);
}

.bg-purple-dark {
    background-color: var(--purple-dark);
}

.purple-darker {
    color: var(--purple-darker);
}

.bg-purple-darker {
    background-color: var(--purple-darker);
}

.violet-light {
    color: var(--violet-light);
}

.bg-violet-light {
    background-color: var(--violet-light);
}

.violet-base {
    color: var(--violet-base);
}

.bg-violet-base {
    background-color: var(--violet-base);
}

.violet {
    color: var(--violet-base);
}

.bg-violet {
    background-color: var(--violet-base);
}

.violet-dark {
    color: var(--violet-dark);
}

.bg-violet-dark {
    background-color: var(--violet-dark);
}

.violet-darker {
    color: var(--violet-darker);
}

.bg-violet-darker {
    background-color: var(--violet-darker);
}

.cyan-light {
    color: var(--cyan-light);
}

.bg-cyan-light {
    background-color: var(--cyan-light);
}

.cyan-base {
    color: var(--cyan-base);
}

.bg-cyan-base {
    background-color: var(--cyan-base);
}

.cyan {
    color: var(--cyan-base);
}

.bg-cyan {
    background-color: var(--cyan-base);
}

.cyan-dark {
    color: var(--cyan-dark);
}

.bg-cyan-dark {
    background-color: var(--cyan-dark);
}

.cyan-darker {
    color: var(--cyan-darker);
}

.bg-cyan-darker {
    background-color: var(--cyan-darker);
}

.bg-orange-light {
    background-color: var(--orange-light);
}
