:root {
	--base-font-size: 16px;
	--pxl-4: calc(4 / var(--base-font-size));

	/**
	* @name Blue
	* @description Light and dark shades of color-blue
	*/
	--blue-base: #0ab7d7;
	--blue-dark: #09afce;
	--blue-darker: #09a8c6;
	--blue-light: #6cd3e7;

	/**
	* @name Mint
	* @description Light and dark shades of color-mint
	*/
	--mint-base: #0ac391;
	--mint-dark: #09bb8b;
	--mint-darker: #09b385;
	--mint-light: #6cdbbd;

	/**
	* @name Orange
	* @description Light and dark shades of color-orange
	*/
	--orange-base: #e86935;
	--orange-dark: #e66531;
	--orange-darker: #dd612f;
	--orange-light: #f1a585;

	/**
	* @name Green
	* @description Light and dark shades of color-green
	*/
	--green-base: #32c655;
	--green-dark: #30be51;
	--green-darker: #2eb64e;
	--green-light: #84dc99;

	/**
	* @name Red
	* @description Light and dark shades of $color-red
	*/
	--red-base: #e74a3e;
	--red-dark: #e2493d;
	--red-darker: #d9463a;
	--red-light: #f0928b;

	/**
	* @name Yellow
	* @description Light and dark shades of $color-yellow
	*/
	--yellow-base: #f0a309;
	--yellow-dark: #e69c08;
	--yellow-darker: #dd9608;
	--yellow-light: #f6c76b;

	/**
	* @name Pink
	* @description Light and dark shades of $color-pink
	*/
	--pink-base: #e03a63;
	--pink-dark: #dc3a62;
	--pink-darker: #d3385e;
	--pink-light: #ec88a1;

	/**
	* @name Purple
	* @description Light and dark shades of $color-purple
	*/
	--purple-base: #bc4bc4;
	--purple-dark: #b73fc0;
	--purple-darker: #b03cb8;
	--purple-light: #d693db;

	/**
	* @name Violet
	* @description Light and dark shades of $color-violet
	*/
	--violet-base: #8f65e0;
	--violet-dark: #8961d7;
	--violet-darker: #835dce;
	--violet-light: #bba2ec;

	/**
	* @name Cyan
	* @description Light and dark shades of $color-cyan
	*/
	--cyan-base: #08aebe;
	--cyan-dark: #07a7b6;
	--cyan-darker: #07a0af;
	--cyan-light: #6aced8;

	/**
	* @name Grays
	* @description Grayscale colors provide quick access to commonly used shades of black
	*/
	--black: #1a1a1a;
	--gray-dark-4: #292929;
	--gray-dark-3: #343537;
	--gray-dark-2: #4f5051;
	--gray-dark-1: #6a6b6c;
	--gray-base: #858688;
	--gray-light-1: #aeaeaf;
	--gray-light-2: #d7d7d8;
	--gray-light-3: #ebebec;
	--gray-light-4: #f5f5f6;
	--white: #fff;

	/**
	* Base color aliases
	*/
	--blue: var(--blue-base);
	--mint: var(--mint-base);
	--orange: var(--orange-base);
	--green: var(--green-base);
	--red: var(--red-base);
	--yellow: var(--yellow-base);
	--pink: var(--pink-base);
	--purple: var(--purple-base);
	--violet: var(--violet-base);
	--cyan: var(--cyan-base);

	/**
	*	Legacy Symphony color variables
	*/

	/* Primary */
	--primary-darker: var(--blue-darker);
	--primary-dark: var(--blue-dark);
	--primary-base: var(--blue-base);
	--primary: var(--blue-base);
	--primary-light: var(--blue-light);
	--primary-lighter: var(--blue-light);

	/* People */
	--people-darker: var(--mint-darker);
	--people-dark: var(--mint-dark);
	--people-base: var(--mint-base);
	--people: var(--mint-base);
	--people-light: var(--mint-light);
	--people-lighter: var(--mint-light);

	/* Meeting */
	--meetings-darker: var(--orange-darker);
	--meetings-dark: var(--orange-dark);
	--meetings-base: var(--orange-base);
	--meetings: var(--orange-base);
	--meetings-light: var(--orange-light);
	--meetings-lighter: var(--orange-light);

	/* Negative */
	--negative-darker: var(--red-darker);
	--negative-dark: var(--red-dark);
	--negative-base: var(--red-base);
	--negative: var(--red-base);
	--negative-light: var(--red-light);
	--negative-lighter: var(--red-light);

	/* CTA */
	--cta-darker: var(--green-darker);
	--cta-dark: var(--green-dark);
	--cta-base: var(--green-base);
	--cta: var(--green-base);
	--cta-light: var(--green-light);
	--cta-lighter: var(--green-light);

	/* Attention */
	--attention-darker: var(--yellow-darker);
	--attention-dark: var(--yellow-dark);
	--attention-base: var(--yellow-base);
	--attention: var(--yellow-base);
	--attention-light: var(--yellow-light);
	--attention-lighter: var(--yellow-light);

	/* Alerts */
	--alerts-darker: var(--red-darker);
	--alerts-dark: var(--red-dark);
	--alerts-base: var(--red-base);
	--alerts: var(--red-base);
	--alerts-light: var(--red-light);
	--alerts-lighter: var(--red-light);

	/* Eggplant */
	--eggplant-base: var(--purple-base);
	--eggplant: var(--purple-base);

	/**
	* Foundation uses these as default colors throughout
	*/
	--primary-color: var(--primary-base);
	--secondary-color: var(--gray-base);
	--alerts-color: var(--alerts-base);
	--alert-color: var(--alerts-base);
	--cta-color: var(--cta-base);
	--success-color: var(--cta-base);
	--attention-color: var(--attention-base);
	--warning-color: var(--attention-base);
	--people-color: var(--people-base);
	--info-color: var(--people-base);
	--meetings-color: var(--meetings-base);
	--negative-color: var(--negative-base);

	/**
	* Toolkit 1.0 Color Aliases
	*/

	/* Gray */
	--gray-darkest: var(--gray-dark-4);
	--gray-darker: var(--gray-dark-1);
	--gray-dark: var(--gray-base);
	--gray: var(--gray-light-1);
	--gray-light: var(--gray-light-2);
	--gray-lighter: var(--gray-light-2);
	--gray-lightest: var(--gray-light-4);
	--brand-white: var(--white);

	/* Brand */
	--brand-primary: var(--primary);
	--brand-primary-light: var(--primary-light);
	--brand-primary-dark: var(--primary-dark);
	--brand-primary-darker: var(--primary-darker);
	--brand-success: var(--cta);
	--brand-success-light: var(--cta-light);
	--brand-success-dark: var(--cta-dark);
	--brand-success-darker: var(--cta-darker);
	--brand-info: var(--people);
	--brand-info-light: var(--people-light);
	--brand-info-dark: var(--people-dark);
	--brand-info-darker: var(--people-darker);
	--brand-warning: var(--attention);
	--brand-warning-light: var(--attention-light);
	--brand-warning-dark: var(--attention-dark);
	--brand-warning-darker: var(--attention-darker);
	--brand-danger: var(--negative);
	--brand-danger-light: var(--negative-light);
	--brand-danger-dark: var(--negative-dark);
	--brand-danger-darker: var(--negative-darker);

	/**
	*	Legacy Foundation Colors:
	*/

	--ghost: var(--white);
	--snow: var(--white);
	--vapor: var(--white);
	--white-smoke: var(--gray-light-4);
	--silver: var(--gray-light-4);
	--smoke: var(--gray-light-3);
	--gainsboro: var(--gray-light-2);
	--iron: var(--gray-light-2);
	--base: var(--gray-light-1);
	--aluminum: var(--gray-light-1);
	--jumbo: var(--gray-base);
	--monsoon: var(--gray-base);
	--steel: var(--gray-dark-1);
	--charcoal: var(--gray-dark-1);
	--tuatara: var(--gray-dark-2);
	--oil: var(--gray-dark-3);
	--jet: var(--gray-dark-4);

	/*  Base colors as per badges, these colors are subject to change and also in shades */
	--info-base: var(--people-base);
	--success-base: var(--cta-base);
	--warning-base: var(--attention-base);
	--danger-base: var(--negative-base);
	--collab-ui: var(--primary-base);

	/* Fonts */
	--bold: 'ExactualsSans Bold';
	--bold-oblique: 'ExactualsSans Bold Oblique';
	--extra-light: 'ExactualsSans Extra Light';
	--extra-light-oblique: 'ExactualsSans Extra Light Oblique';
	--heavy: 'ExactualsSans Heavy';
	--heavy-oblique: 'ExactualsSans Heavy Oblique';
	--light: 'ExactualsSans Light';
	--light-oblique: 'ExactualsSans Light Oblique';
	--regular: 'ExactualsSans Regular';
	--regular-oblique: 'ExactualsSans Regular Oblique';
	--thin: 'ExactualsSans Thin';
	--thin-oblique: 'ExactualsSans Thin Oblique';
}
