.loader {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 4rem;
	flex: 1;
	margin: auto;
	transition: background-color 150ms ease;
}

.circle {
	width: 0.5em;
	height: 0.5em;
	background-color: #aeaeaf;
	border-radius: 50%;
}

.circle1 {
	animation: loading 1.2s ease-in-out infinite;
	animation-delay: 0.2s;
}

.circle2 {
	animation: loading 1.2s ease-in-out infinite;
	animation-delay: 0.4s;
}

.circle3 {
	animation: loading 1.2s ease-in-out infinite;
	animation-delay: 0.6s;
}

@keyframes loading {
	50% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}